// _base.scss

* {
  box-sizing: border-box;
  margin: 0;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: {
    size: 100%;
    position: center -20%;
    color: #fff;
    repeat: no-repeat;
    image: url(../images/bg/2.jpg);
    attachment: fixed;
  }

  font: {
    family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    weight: 300;
    size: 20px;
  }

  line-height: 1.3;
  color: #333;
  margin-bottom: 100px;

  @media #{$medium-size} {
    background-position: center -75%;
  }

  @media #{$large-size} {
    background-position: center -100%;
  }
}

a {
  transition: color .5s;
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #333;

  &:hover {
    color: #FF3C00;
    text-decoration: none;
    border: 0;
  }
}

p, h2, h3, h4, h5, h6 {
  margin: 1em 0;
}

h1, h2, h3, h4, h5, h6 {
  font: {
    family: 'Playfair Display', 'Garamond', 'Georgia', serif;
    weight: 900;
  }
}

.parenthetical {
  h1 {
    font: {
      size: 1.5em;
      family: 'Dia', 'Garamond', 'Georgia', serif;
    }
    text-transform: uppercase;
  }
}

h1 {
  color: #fff;
  margin: 0;
  font-size: 1.25em;
}

time {
  font-size: 0.75em;
  display: block;
  margin: 0.25em 0;
}

code {
  font-size: 0.75em;
  overflow: scroll;
}