@font-face {
  font-family: 'Dia';
  src: url('../fonts/dia/dia-webfont.eot');
  src: url('../fonts/dia/dia-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/dia/dia-webfont.woff') format('woff'),
       url('../fonts/dia/dia-webfont.ttf') format('truetype'),
       url('../fonts/dia/dia-webfont.svg#diaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}