// _modules.scss

.post-list {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 4em;
  }
}
.post-title {
  color: #333;
  border: 0;
  font: {
    size: 1.25em;
    family: 'Playfair Display', 'Garamond', 'Georgia', serif;
    weight: 900;
  }
  line-height: 1.1;

  &:hover {
    color: #FF3C00;
  }

  @media #{$medium-size} {
    font-size: 1.75em;
  }
}
.post-excerpt {
  margin-top: 1em;
  padding: 0;
  margin: 0;
}





.bio {
  margin-top: 1em;
  overflow: hidden;
  border-top: 1px solid #333;
  padding-top: 1em;
}
.bio-headshot {
  width: 50%;
  margin: 0 auto;
  display: block;

  img {
    max-width: 100%;
  }

  @media #{$medium-size} {
    float: left;
    width: 20%;
    padding: 0 1em 1em 0;
  }
}
.bio-desc {
  text-align: center;

  @media #{$medium-size} {
    text-align: left;
    float: left;
    width: 80%;
  }
}
.bio-headline {
  margin: 0 0 0.5em 0;
}



.about {
  img {
    float: right;
    display: block;
    border-radius: 50%;
    height: 5em;
    margin: 0 0 0.5em 0.5em;

    @media #{$medium-size} {
      height: 10em;
    }

    @media #{$large-size} {
      height: 15em;
      margin: 0 0 1em 1em;
    }
  }
}

#disqus_thread {
  margin-top: 5em;
}