extends layout

block content
  ul.post-list
    each post in posts
      li
        article
          a(href=post.path).post-title= post.title
          time(datetime=post.date)= post.month + '/' + post.day + '/' + post.year
          blockquote.post-excerpt!= post.excerpt
          a(href=post.path).u-right Continue reading &raquo;